@font-face {
    font-family: 'Pokemon Classic';
    src: url(fonts/Pokemon\ Classic.ttf);
}

body {
    font-family: 'Pokemon Classic', sans-serif !important;
}

.card {
    background-color: transparent !important;
    border: 0 !important;
}

input[type="text"] {
    padding: 15px 10px;
    border: none;
    border-bottom: 1px solid #645979;
    outline: none;
    border-radius: 5px 5px 0 0;
    background-color: #ffffff;
    font-size: 16px;
}

ul {
    list-style: none;
}

.list {
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    margin-left: 33.7%;
}

.list-items {
    padding: 10px 5px;

}

.list-white:hover {
    background-color: #dddddd;
}

.list-black:hover {
    background-color: #3c4146;
}


@media (max-width: 768px) {
    body{
        background-attachment: scroll;
    }
    h4{
        font-size: 1.2rem !important;
    }
    h5 {
        font-size: 1rem !important;
    }
    input,.list-items,p {
        font-size: 0.5rem !important;
    }
    button{
        font-size:0.4rem!important;
    }

}